{% include "header.html" %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../static/assets/image1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                 width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Task manager, your new solution for tasks mangement!</h1>
            {% if not current_user.is_authenticated: %}
            <p class="lead">Please register/login in order to be able to create or manage all your tasks.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{{url_for('login')}}" class="btn btn-primary btn-lg px-4 me-md-2">Login</a>
                <a href="{{url_for('register')}}" class="btn btn-outline-secondary btn-lg px-4">Register</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% include "footer.html" %}
